@import '../../variables.scss';

.ant-select {
  .ant-select-selector {
    text-transform: capitalize;
    /* background-color: $darkBlue !important; */

    .ant-select-selection-search {
      /* background-color: $lightBlue !important; */
    }

    .ant-select-selection-item {
      color: $darkBlue !important;
    }
  }

  .ant-select-arrow {
    color: $darkBlue;
  }
}

.ant-select-dropdown {
  text-transform: capitalize;
}
