@import '../../variables.scss';

.ant-tabs-bar {
  border-bottom: 5px solid blue !important;

  .ant-tabs-nav-container {
    padding-left: 0px !important;
    padding-right: 0px !important;

    .ant-tabs-tab-next,
    .ant-tabs-tab-prev {
      display: none;
    }

    .ant-tabs-nav {
      width: 100%;

      .ant-tabs-tab {
        width: 33%;
        font-size: 14px;
        background: $lightBlue !important;
        letter-spacing: 1.15px;
        margin: 0 2px;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
      }

      .ant-tabs-tab-active {
        background: $darkBlue !important;
      }
    }
  }
}
