@import '../variables.scss';

.ant-select {
  .ant-select-selector {
    text-transform: capitalize;
    /* background-color: $darkBlue !important; */

    .ant-select-selection-search {
      /* background-color: $lightBlue !important; */
    }

    .ant-select-selection-item {
      color: $darkBlue !important;
    }
  }

  .ant-select-arrow {
    color: $darkBlue;
  }
}

.ant-select-dropdown {
  text-transform: capitalize;
}

.main-img {
  .invisible-area {
    position: absolute;
    height: 100px;
    width: 100px;
  }

  .area-one {
    top: 135px;
    left: 95px;
  }

  .area-two {
    top: 135px;
    left: 275px;
  }

  .tooltip {
    display: none;
    background: white;
    border-radius: 5px;
    border: 1px solid black;
  }

  .invisible-area:hover .tooltip {
    display: block;
  }
}
