@import url('https://fonts.googleapis.com/css?family=Montserrat|Oxanium|Raleway|Spartan&display=swap');

@import './variables.scss';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingPrimary, "Palatino Linotype", "Book Antiqua", Palatino, serif
}

p {
  font-family: $textPrimary, "Palatino Linotype", "Book Antiqua", Palatino, serif
  
}

.App {
  text-align: center;
  max-width: 760px;
  margin: auto;
}

.padding-sm {
  padding: 5px 10px;
}

.button__big {
  color: #fff;
  font-weight: 700;
  border-radius: 15px;
  padding: 10px;
  margin: 0 5px;
}
