/* COLORS */
$white: white;
$offWhite: #cdcdcd;
$black: black;
$offBlack: #212121;
$darkBlue: blue;
$lightBlue: lightblue;
$darkGrey: grey;
$lightGrey: lightgrey;
$darkGreen: green;

/* FONTS */
$textPrimary: 'Spartan';
$textSecondary: 'Oxanium';
$headingPrimary: 'Raleway';
$headingSecondary: 'Montserrat';
